html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open-Sans', sans-serif;
    color: black;
    font-weight: 100;
    letter-spacing: .01rem;
}

h1, h2, h3 {
    font-family: 'Neuton', serif;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
