.column {

    &--col-sm-4 {
    float: left;
    width: 25%;
    padding: 0;
    text-align: center;
    }

    &--col-md-4 {
        width: 100%;

        @mixin atMedium {
            float: left; 
            width: 40%;
        }
    }

    &--col-md-6 {
        width: 100%;

        @mixin atMedium {
            float: left;
            width: 50%;
            padding-right: 50px;
            padding-top: 20px;
        }
    }

    &--col-md-8 {
        width: 100%;

        @mixin atMedium {
            float: right;
            width: 60%;
            display: inline-block;
        }
    }
}