.column {
    float: left;
    width: 25%;

    &--col-md-4 {
        float: left; 
        width: 40%;
    }

    &--col-md-6 {
        float: left;
        width: 45%;
        padding-left: 45px;
    }

    &--col-md-8 {
        float: right;
        width: 60%;
    }
}