 .column--col-sm-4 {
    float: left;
    width: 25%;
    padding: 0;
    text-align: center;
}

.column--col-md-4 {
    width: 100%;

    @media (min-width: 800px){
        float: left; 
        width: 40%;
    }
}

.column--col-md-6 {
    width: 100%;

    @media (min-width: 800px){
        float: left;
        width: 50%;
        padding-right: 50px;
        padding-top: 20px;
    }
}

.column--col-md-8 {
    width: 100%;

    @media (min-width: 800px) {
        float: right;
        width: 60%;
        display: inline-block;
    }
}
