.experience-block {

    &--place {
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 45px;
        font-size: 1.2rem;
        color: black;
        letter-spacing: 0;
        font-weight: 700;
    }

    &--time {
        font-weight: 100;
        letter-spacing: .01rem;
        padding-left: 45px;
    }

    &--description-header {
        padding-top: 30px;
        padding-bottom: 5px;
        font-size: 1.2rem;
        color: black;
        letter-spacing: 0;
        font-weight: 700;
    }

    &--location {
        padding-top: 10px;
        font-weight: 500;
        color: $mainBlue;
    }

    &__icon {
        color: $mainBlue;
        padding-right: 2px;
        font-weight: 700;
    }
}