.page-section {
    padding: 1.5rem;
    padding-bottom: 4rem;
    background-color: #f1f1f1;

    &--white {
        background-color: white;
    }

    &--grey {
        background-color: #636A71;
    }
}