.page-section {
    padding: 1.5rem;
    padding-bottom: 4rem;
    background-color: #f1f1f1;
}

.page-section--white {
    background-color: white;
}

.page-section--grey {
    background-color: #636A71;
}
