.skills {

    &__icon {
        color: #A5ACB2; 
        float: right;
    }

    &__icon--blue {
        color: #4879A9; 
        float: right;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding-bottom: 15px;
    }
}