.slideshow {
    width: 500px;
    height: 500px;
    position: relative;
    padding-top: 30px;
}

.slideshow__header {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.slideshow __text {
    text-align: left;
    color: white;
    line-height: 19px;
    font-size: 1rem;
}
