.w3-left, .w3-right {
    cursor: pointer;
    color: white;
    padding: 2px 5px 0 5px;
}

.w3-left:hover {
    color: $mainBlue;
}

.w3-right:hover {
    color: $mainBlue;
}

.w3-badge {
    height:8px;
    width:8px;
    padding:0;
    cursor: pointer;
}

.w3-display-bottomleft {
    padding-top: 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    max-width: 500px;
    position: absolute;
}

.w3-button {
    color: $mainBlue;
}


