.wrapper {
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    
    @media (min-width: 800px) {
        overflow: hidden;
        padding-left: 150px;
        padding-right: 150px;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
}

.wrapper--wide {
    padding-left: 70px;
    padding-right: 70px;
}

.wrapper--super-skinny {
    padding: 30px 170px 30px 170px;

    @media (min-width: 800px) {
        display: none;
    }
}

.wrapper--skinny-until-medium {
    padding: 0 70px 0 70px;

    @media (min-width: 800px) {
        padding: 0 150px 0 150px;
    }
}
